<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .jumbotron{
margin-left: 20%;
margin-right: 20%;

}
@media only screen and (max-width: 600px) {
.jumbotron {
   height:75vh;
   margin-left: 10%;
   margin-right: 10%;
}
img {
    border-radius: 10%;
  }
}
.md-avatar {
vertical-align: middle;
width: 50px;
height: 50px;
}
.md-avatar.size-1 {
width: 40px;
height: 40px;
}
.md-avatar.size-2 {
width: 70px;
height: 70px;
}
.md-avatar.size-3 {
width: 90px;
height: 90px;
}
.md-avatar.size-4 {
width: 110px;
height: 110px;
}
@media (min-width:961px) 
{
  .card-body{
     align-items: center;
     align-content: center;
     text-align: center;
     align-content: center;
  }
}
img {
border-radius: 50%;
}
.acc_change{
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 10%;

}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Login</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 215, 152, 1) 0%,
    rgba(135, 219, 213, 1) 30%,
    rgba(32, 204, 158, 1) 70%
  );
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  background-color: #fff;
  border-radius: 5px;
  width: 25em;
  height: 40em;
}

.items {
  display: flex;
  flex-direction: column;
}

.items input {
  margin-bottom: 30px;
  padding: 2px 0px;
  padding-bottom: 5px;
  width: 250px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1.5px solid;
  border-bottom-color: grey;
  font-weight: 700;
  color: #585858;
  opacity: 0.55;
}

#title {
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-align: center;
  opacity: 0.5;
}

#button {
  padding: 20px 30px;
  margin-top: 30px;
  outline: none;
  border: none;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(6, 215, 152, 1) 0%,
    rgba(32, 204, 158, 1) 30%,
    rgba(135, 219, 213, 1) 70%
  );
  color: grey;
}

#button:active {
  transform: translateY(2px);
}

#button text {
  opacity: 0.5;
}

#sign {
  margin-top: 4em;
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  color: rgb(11, 194, 142);
  font-weight: bolder;
  text-decoration: none;
}

#sign:active {
  transform: translateY(2px);
}

::placeholder {
  color: grey;
  text-align: center;
  letter-spacing: 2px;
}
</style>
</head>
<body>
    <div class="container">
        <h2 id="title">Login</h2>
      
        
        <div class="items">
            <form action="/" method="POST">
          <input name="name" type="text" id="form-text" placeholder="Username" />
          <input name="password" type="password" id="form-password" placeholder="Password" />
      
          <input id="button" type="submit" value=Login> </input>
          <a id="sign" type="submit" href="/signup">Register</a>
        </form>
      </div>
</body>
</html>