<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .jumbotron{
    margin-left: 20%;
    margin-right: 20%;
    
}
@media only screen and (max-width: 600px) {
    .jumbotron {
       height:75vh;
       margin-left: 10%;
       margin-right: 10%;
    }
    img {
        border-radius: 10%;
      }
  }
  .md-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }
  .md-avatar.size-1 {
    width: 40px;
    height: 40px;
  }
  .md-avatar.size-2 {
    width: 70px;
    height: 70px;
  }
  .md-avatar.size-3 {
    width: 90px;
    height: 90px;
  }
  .md-avatar.size-4 {
    width: 110px;
    height: 110px;
  }
  @media (min-width:961px) 
  {
      .card-body{
         align-items: center;
         align-content: center;
         text-align: center;
         align-content: center;
      }
  }
  img {
    border-radius: 50%;
  }
  .acc_change{
      margin-left: 30%;
      margin-right: 40%;
      margin-top: 10%;
    
  }
  </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="custom.css" >
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light navbar-fixed-top">
        <a class="navbar-brand" href="#">Welcome</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="dashboard">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="schedules">Schedules</a>
                 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="settings">Settings</a>
                 
                </li>
            </ul>
            
            <form class="form-inline my-2 my-lg-0">
         
                <a class="btn btn-outline-success my-2 my-sm-0" href=logout >LogOut</a>
            </form>
        </div>
    </nav>
    <div class="containter"><form method="post" action="update">
        <div class="acc_change">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input name="name" type="text" class="form-control" id="exampleInputEmail1" value="<%= auth.name %>" aria-describedby="emailHelp" >
                
              </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name="email" type="text" class="form-control" id="exampleInputEmail1" value="<%= auth.email %>" aria-describedby="emailHelp" >
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Department</label>
            <input name="department" type="text" class="form-control" id="exampleInputEmail1" value="<%= auth.department %>" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
       
      
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
</body>
</html>